{{!--<div class="container-fluid">--}}
      <div class="row">
    <div class="col-md-12">
        <h1 class="text-center mtitle">{{t 'paginas.mapa.titulo'}}</h1>
    </div>
    <div class="col-md-12 p-x-0">
      <div id="map" class="mapa"></div>
  
    </div>
  </div>
    
{{!--</div>--}}
