<div class="col-xs-7 col-md-1">
    <form id="navbar-search" class="pull-right p-x-0" role="search" action="">
        <div class="form-group">
          	{{input elementId="search" class="searchBox hidden" placeholder=(t 'paginas_estaticas.menu.buscar') value=value}}
        </div>
        <a id="searchButton" class="btn navbar-search-btn"><i id="searchIcon" class="fa fa-search fa-flip-horizontal fa-2x" aria-hidden="true"></i></a>
    </form>
</div>