/*body .loader {
	display: none;
	background: url('/img/logo_transp.png') white no-repeat no-repeat center center;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
body.loading .loader {
	display: block;
}*/